body {
  background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

div {
  width: 600px;
  height: 600px;
  /* background-color: rgb(12, 143, 52); */
  /* background-color: rgba(12, 143, 52, 0.5); */
  background-image: url(https://ak9.picdn.net/shutterstock/videos/15709939/thumb/1.jpg);
  /* background-size: 200px 200px; */
  background-repeat: no-repeat;
  border: 2px solid #000;
  background-position: center;
  background-size: 100% 100%;
}
