/* If the screen width is less than or equal to [768px] */
@media only screen and (max-width: 768px) {
  body {
    background: pink;
  }
}

/* If the screen width is greater than [1200px] */
@media only screen and (min-width: 1200px) {
  body {
    background: rgb(87, 190, 3);
  }
}

/* For printing */
@media print {
  body {
    background: orange;
  }

  #no-print {
    display: none;
  }
}
